
use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}

if nix show-config | grep -q 'experimental-features =.*flake'; then
  use flake
elif has nix; then
  use nix

  watch_file nix/default.nix nix/sources.nix nix/sources.json
fi
