[submodule "modules/scala-native"]
	path = modules/scala-native
	url = https://github.com/avdv/scala-native.git
	branch = integ-next
[submodule "modules/scopt"]
	path = modules/scopt
	url = https://github.com/avdv/scopt.git
	branch = scala-native-snapshot
[submodule "scala-collection-compat"]
	path = modules/scala-library-compat
	url = https://github.com/scala/scala-library-compat.git
