name: Update deps hash

on:
  pull_request_target:
    branches:
      - main

jobs:
  update-hash:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.head.repo.owner.login == 'scala-steward' }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
    - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
      with:
        name: cbley
        extraPullNames: pre-commit-hooks
    - name: Update fixed output hash
      run: |
        outputHash=$( nix eval --raw '.#scalals.dependencies.outputHash' )
        sed -i'' -e "s,$outputHash,," flake.nix
        if output=$( nix build --no-link --print-build-logs '.#scalals.dependencies' 2>&1 ); then
           echo "command succeeded unexpectedly." >&2
           exit 1
        fi
        if [[ "$output" != *'error: hash mismatch in fixed-output derivation'* ]]; then
           echo "build problem: $output" >&2 ; exit 1
        fi
        git restore flake.nix
        got=$( sed -ne 's,.*got: *\([^ ]*\),\1,p' <<< "$output" )
        sed -i'' -e "s,$outputHash,$got," flake.nix
        git diff
    - name: Push changes
      uses: devops-infra/action-commit-push@f9d951d60583ba9b45ba2afa8c169c0ecf75f68e # v0.11.0
      with:
        amend: true
        force: true
        github_token: "${{ secrets.PR_TOKEN }}"
